<div class="container">
    <p class="my-table-title"># 詩作最多的20位唐代詩人</p>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive table-condensed">
                <table class="table table-hover">
                    <thead>
                        <th class="active">詩人</td>
                        <th class="success">詩作數量</td>
                    </thead>
                    <tbody id="table1"></tbody>
                </table>
            </div> <!-- table div ends -->
        </div>
        
        <div class="col-md-6">
            <div class="table-responsive table-condensed">
                <table class="table table-hover">
                    <thead>
                        <th class="active">詩人</td>
                        <th class="success">詩作數量</td>
                    </thead>
                    <tbody id="table2"></tbody>
                </table>
            </div> <!-- table div ends -->
        </div>
    </div>
</div>

<script>
showPoets();
</script>
