<div class="jumbotron">
    <div class="search-block">
    </div>

    <div class="my-loading">
        <h4>載入中，請稍候...</h4>
    </div>

</div>

<script>
getSearchResult(
    findGetParameter('author'),
    findGetParameter('content'),
    findGetParameter('title'),
    findGetParameter('page')
);
</script>
